<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.feifan.dao.UserMapper">
    <resultMap id="BaseMapping" type="com.feifan.pojo.User">
        <id column="userId" property="userId"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="publisher" property="publisher"/>
        <result column="status" property="status"/>
        <result column="email" property="email"/>
    </resultMap>

    <select id="checkEmail" resultType="integer" parameterType="string">
        SELECT count(1) from user where email =#{email}
    </select>


    <select id="load"  resultType="integer" parameterType="com.feifan.pojo.User">
        SELECT count(1) from user where password=#{password} and email=#{email}
    </select>

    <update id="updateuser" parameterType="com.feifan.pojo.User">
        update user set name=#{name},password=#{password},publisher=#{publisher},status=#{status} where email=#{email}
    </update>

    <select id="findAll" resultMap="BaseMapping" parameterType="String">
        select * from user where email=#{email}
    </select>

    <select id="select_by_email" resultMap="BaseMapping" parameterType="string">
        SELECT * from user where email=#{email}
    </select>
</mapper>